body {
    background-color: whitesmoke;
}

section {
    padding: 40px 0;
    border-bottom: 3px solid black;
    text-align: center;
}

button {
    cursor: pointer;
    margin: 10px 20px;
    padding: 5px 25px;
    font-size: 15px;
    border-radius: 5px;
}

input[type="color"] {
    cursor: pointer;
}

.color-input {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid red;
}

.bulb-box,
.show-img-box {
    margin: auto;
    width: 200px;
    height: 200px;
}

.show-img-box {
    width: 400px;
}

.bulb-box img,
.show-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

input {
    width: 350px;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid gray;
}

h1 {
    margin: 10px 0
}

.todoItem,
.todoItemReverse {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    text-align: left;
    color: white;
    border-radius: 5px;
    color: black;
    width: 70%;
    margin: 10px auto;
    padding: 8px 10px;
}

.todoItemReverse {
    background-image: linear-gradient(to left, #37ecba 0%, #72afd3 100%);
}

.center {
    text-align: center;
}

/* task-4 css  */
.form-wrapper {
    width: 100%;
    padding: 20px 0;
    height: 100vh;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.form-container {
    background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
    width: 40%;
    padding: 20px;
    margin: 0 auto;

}

.form-container .input-div {
    margin-bottom: 10px;
}

.form-container .input-div input {
    width: 100%;
}

.form-container input[type="radio"] {
    width: auto;
    margin: 0 20px;
}

.form-container input[type="radio"],
label {
    cursor: pointer;
}

.form-container button {
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    margin: 0;
    padding: 8px 40px;
    border-radius: 20px;
    border: none;
}

.form-wrapper .card-wrapper {
    width: fit-content;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s ease;
    display: grid;
    gap: 20px;
    place-items: center;
}

.form-wrapper .card-wrapper:hover {
    transform: scale(1.02);
}

.card-wrapper .img-box {
    width: 180px;
    background-color: white;
    height: 180px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 50%;
    overflow: hidden;
}

.card-wrapper .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}