@media screen and (max-width:992px) {
    aside {
        overflow: visible !important;
    }

    aside>ul>li>a span+span,
    aside>ul>li>a .right-arrow,
    aside .menu-title,
    aside p {
        display: none;
    }

    aside>ul>li>a i {
        font-size: 18px;
        transition: var(--effect);
    }

    aside>ul>li>a:hover i {
        color: var(--secondary) !important;
    }

    aside .sub-ul {
        position: absolute;
    }

    aside {
        width: auto;
    }

    aside>ul>li>a span {
        margin: 0 !important;
    }

    aside>ul>li>a {
        padding: 8px 18px;
    }

    aside>ul>li {
        position: relative;
    }

    aside .sub-ul {
        width: 200px;
        border-radius: 0.5rem;
        left: 100%;
        top: 0;
    }

    aside>ul>li:hover .sub-ul {
        height: auto;
    }

    aside .logo-text {
        display: none;
    }

    aside .left-nav {
        width: auto;
    }

    nav .right-nav {
        width: 100%;
    }

    nav {
        padding-left: 65px;
    }

    aside .nav-control {
        display: none !important;
    }

    .main-wrapper {
        width: 100%;
        margin-left: 63px !important;
    }
}